<main *ngIf="exam">
  <h1>{{ exam.title }}</h1>

  <form [formGroup]="examForm" (ngSubmit)="onMultipleQuestionsExamSubmit()">
    <div formArrayName="questions">
      <section *ngFor="let questionControl of questionsFormArray.controls; let i = index" [formGroupName]="i" class="options">
        <h5>{{ exam.questions[i].question_title }}</h5>
        <div class="container">

          <div class="inner-container">
            <input type="radio" formControlName="selectedValue" value="1" [id]="'question' + i + '_option1'" [attr.name]="'question' + i" class="options-input">
            <label [for]="'question' + i + '_option1'">{{ exam.questions[i].first_option }}</label>

            <input type="radio" formControlName="selectedValue" value="2" [id]="'question' + i + '_option2'" [attr.name]="'question' + i" class="options-input">
            <label [for]="'question' + i + '_option2'">{{ exam.questions[i].second_option }}</label>
          </div>

          <div class="inner-container">
            <input type="radio" formControlName="selectedValue" value="3" [id]="'question' + i + '_option3'" [attr.name]="'question' + i" class="options-input">
            <label [for]="'question' + i + '_option3'">{{ exam.questions[i].third_option }}</label>

            <input type="radio" formControlName="selectedValue" value="4" [id]="'question' + i + '_option4'" [attr.name]="'question' + i" class="options-input">
            <label [for]="'question' + i + '_option4'">{{ exam.questions[i].fourth_option }}</label>
          </div>

        </div>
      </section>
    </div>
    <div class="button-wrapper">
      <button type="submit">Finish Test</button>
    </div>
  </form>
  
</main>
