<main *ngIf="exam">
  <h1>{{ exam.title }}</h1>

  <form>
    <section
      *ngFor="let question of exam.questions"
      class="options unfilled-question"
    >
      <h5>{{ question.question_title }}</h5>
      <div class="container">
        <div class="inner-container">
          <input type="radio" name="fav_language" value="1" />
          <label for="html">{{ question.first_option }}</label>
          <input type="radio" name="fav_language" value="3" />
          <label for="css">{{ question.third_option }}</label>
        </div>

        <div class="inner-container">
          <input type="radio" name="fav_language" value="2" />
          <label for="javascript">{{ question.second_option }}</label>
          <input type="radio" name="fav_language" value="4" />
          <label for="python">{{ question.fourth_option }}</label>
        </div>
      </div>
    </section>

    <div class="button-wrapper">
      <button>Finish Test</button>
    </div>
  </form>
</main>
