#choose-course-choose-topic {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dashed whitesmoke;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 81%;
    height: 35vh;
    margin: 0 auto;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: 600ms ease-in-out;
    font-family: "Anta", sans-serif;
}


.wrapper {
    display: flex;
    gap: 5vh;
    margin-bottom: 3vh;
}


#task-title-label {
    margin: 2vh 0;
    font-size: 2.8rem;
    color: whitesmoke;
    font-family: "Anta", sans-serif; 
    text-shadow: var(--text-shadow);
}


#task-title {
    font-family: 'Anta';
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 3vh;
}


#choose-course-choose-topic label{
    font-size: 2.5rem;    
    margin-right: 1rem;
    color: whitesmoke;
    text-shadow: var(--text-shadow);
}


#choose-course-choose-topic input {
    font-family: 'Anta', sans-serif;
}


#choose-course-choose-topic select {
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: var(--border-radius);
    font-family: "Anta", sans-serif;
    padding: 0.5rem 1rem;
}


input {
    border-radius: var(--border-radius);
}

@media (max-height: 1080px) and (max-width: 1920px) {
    #task-title {
        font-size: 1.7rem;
        padding: 0.9rem 1.8rem;
        margin-top: 2vh;   
    }

    #task-title-label {
        margin: 2vh 0;
        font-size: 2rem;
    }

    .title-wrapper {
        padding-bottom: 3vh;
    }

    #choose-course-choose-topic {
        gap: 2vh;
        margin-bottom: 5vh;
    }

    #choose-course-choose-topic label{
        font-size: 1.8rem;    
        margin-right: 1rem;
    }

    #choose-course-choose-topic select {
        cursor: pointer;
        font-size: 1.5rem;
        border-radius: var(--border-radius);
        font-family: "Anta", sans-serif;
        padding: 0.4rem 0.8rem;
    }
}