.delete-profile-section {
    padding: 5rem;
    background-color: #811331;
    position: absolute;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    z-index: 10000;
    left: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Anta', sans-serif;
    display: none; 
    opacity: 0;
}


.delete-profile-section h1 {
    font-size: 5rem;
    text-shadow: var(--text-shadow);
}


.delete-profile-section i {
    color: #DAA520;
    text-shadow: var(--text-shadow);
    animation: flicker 7s linear infinite; 
    font-size: 10rem;
}


.delete-profile-section p {
    animation: animate 1.5s linear infinite; 
    font-size: 1.8rem;
}


.delete-profile-section button {
    margin-top: 1rem;
    margin-right: 1.2rem;
    padding: 0.7rem 1.8rem;
    font-size: 2rem;
    background-color: #880808;
    border-radius: var(--border-radius);
    font-family: "Anta";
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    border: none;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.54);
    box-shadow: 1px 1px 5px 0.5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 300ms ease-in-out;
}


#cancel {
    background-color: var(--dark-green);
}


button:hover {
    background-color: #6d0606;
    transform: translateY(-0.5rem);
}


#cancel:hover {
    background-color: var(--darker-green);
}


@keyframes flicker {
    0%, 100% { opacity: 1; }
    10% { opacity: 0.3; }
    20% { opacity: 1; }
    30% { opacity: 0.5; }
    40%, 60% { opacity: 1; }
    50% { opacity: 0.4; }
    70% { opacity: 0.6; }
    80% { opacity: 0.8; }
    90% { opacity: 0.5; }
}


@media (max-height: 1000px) and (max-width: 1900px) {
    .delete-profile-section {
        padding: 4rem;
        position: absolute;
        left: 28.5%;
        gap: 2rem;
    }   

    .delete-profile-section h1 {
        font-size: 4rem;
    }

    .delete-profile-section p {
        font-size: 1.5rem;
    }

    .delete-profile-section button {
        padding: 0.7rem 1.5rem;
        font-size: 2rem;
    }
}


@media screen and (min-width: 2500px) {
    .delete-profile-section {
        padding: 6rem;
        position: absolute;
        left: 27.5%;
        gap: 2rem;
    } 

    .delete-profile-section h1 {
        font-size: 6rem;
    }

    .delete-profile-section p {
        font-size: 2.5rem;
    }

    .delete-profile-section button {
        padding: 1.3rem 1.7rem;
        font-size: 2.5rem;
    }
}