@media screen and (min-width: 2500px) {
    aside i {
      font-size: 2.25rem;
    }


    #delete-profile-i {
      margin-left: -0.75rem;
    }


    main p {
      font-size: 1.7rem;
      margin-left: 1.5rem;
    }
    
    
    main section h2 {
      font-size: 2.5rem;
      margin-top: 1vh;
    }

    
    main {
      width: 45vw;
    }

    .content-wrapper {
      justify-content: space-evenly;
    }
    
    .fa-user-pen {
      left: 39.5%;      
    }
  }


  @media (max-height: 1000px) and (max-width: 1900px) {
    aside p  {
      font-size: 1.5rem;
    }

    aside img {
      width: 30%;
  }

    #delete-profile-i {
      margin-left: -1.2rem;
    }

    aside i {
      font-size: 1.7rem;
    }

    .fa-user-pen {
      left: 40.8%;      
    }

    main {
      width: 42.5vw;
    }

    .content-wrapper {
      justify-content: space-evenly;
    }

    main h1 {
      font-size: 3.7rem;
    }
    
    main p {
      font-size: 1.25rem;
    }

    main section h2 {
      font-size: 2.3rem;
    }

    aside i {
      position: absolute;
      top: 18.25%;
     }
}