<nav>
    <section id="navigation-section" [ngStyle]="{'display': navigationVisible ? 'flex' : 'none', 'opacity': navigationOpacity}">
      <a routerLink="/">
        <img
        id="test-hub-logo"
        src="../../assets/images/9a641d59-fa1d-4616-b53e-9f3a1784a8ad-transformed.webp"
        alt="Test Hub Logo"
      />
      </a>
      <ul>
        <li><a routerLink="/submissions">Submissions</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/myProfile">My Profile</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/logout">Logout</a></li>
      </ul>
    </section>
    <i
    (click)="hideShowNavigation($event)"
      id="hide-show-nav-i"
      class="fa-solid fa-bars"
    ></i>
</nav>