<footer class="footer">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social-icon">
    <li class="social-icon__item">
      <a
        class="social-icon__link"
        target="_blank"
        href="https://www.facebook.com/peter.gerdzhikov/"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
    <li class="social-icon__item">
      <a
        class="social-icon__link"
        target="_blank"
        href="https://twitter.com/PowerCell46"
      >
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </li>
    <li class="social-icon__item">
      <a
        class="social-icon__link"
        target="_blank"
        href="https://www.linkedin.com/in/peter-gerdzhikov-b046a7290/"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li class="social-icon__item">
      <a
        class="social-icon__link"
        target="_blank"
        href="https://github.com/PowerCell46"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li class="menu__item">
      <a class="menu__link" href="submissions/multipleChoiceTests">MCQ Submissions</a>
    </li>
    <li class="menu__item"><a class="menu__link" routerLink="/">Home</a></li>

    <li class="menu__item">
      <a class="menu__link" href="submissions/python">Python Submissions</a>
    </li>

  </ul>
  <p>
    &copy;2024
    <a
      id="github-link-name"
      href="https://github.com/PowerCell46"
      target="_blank"
      >PowerCell46</a
    >
    | All Rights Reserved
  </p>
</footer>
