.footer {
    margin-top: 15vh;
    width: 94.5%;
    position: relative;
    background: var(--deep-blue);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.9);
    font-family: "Anta", sans-serif;
  }
  
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
    gap: 2rem;
    color: #f5f5f5;
  }
  
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  
  .social-icon__link {
    font-size: 2.3rem;
    color: #f5f5f5;
    margin: 0 10px;
    display: inline-block;
    transition: 0.6s ease-in-out;
  }
  
  
  .social-icon__link:hover {
    color: #dddddd;
  }
  
  
  .menu__link {
    font-size: 1.4rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
  
  
  .menu__link:hover {
    opacity: 1;
    text-decoration: underline;
  }
   
  
  .footer p {
    color: #fff;
    margin: 2.3rem 0 2rem 0;
    font-size: 1.8rem;
    font-weight: 300;
  }
  

  #github-link-name {
    font-weight: 900;
    text-shadow: none;
    background-image: -webkit-linear-gradient(135deg, rgb(206, 5, 1), #6600A8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  
  #github-link-name:hover {
    background-image: -webkit-linear-gradient(135deg,  #6600A8, rgb(206, 5, 1));
  }
  
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }