<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to TestHub!</title>
</head>
<body style="text-align: center; font-family: sans-serif;">
    <div style="margin: 0 auto; width: 70%;">
        <h1 style="font-size: 3.2rem; margin-bottom: 0.5rem;">Goodbye from TestHub!</h1>
        <img style="height: 14vh; background-color: white; border-radius: 0.7rem;" src="cid:image1" alt="TestHub logo">
        <p style="text-align: left; font-size: 1.2rem; line-height: 1.5;">Dear <span style="font-weight: 600;">{{username}}</span>,
        <br> We're really sorry that you choose to leave our services. We hope that you had a nice experience using our product. <br>
        If you have the time, we would really appreciate it if you <span style="font-weight: 600;">respond</span> to this email and let us know the reasons for your decision. This way we can keep trying to improve. <br>
        If you change your mind, <span style="font-weight: 600;">contact us</span>, so we can restore your account. <br>
        Best regards,
        <span style="font-weight: 600;">TestHub</span> team.</p>
    </div>
</body>
</html>