<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to TestHub!</title>
</head>
<body style="text-align: center; font-family: sans-serif;">
    <div style="margin: 0 auto; width: 70%;">
        <h1 style="font-size: 3.2rem; margin-bottom: 0.5rem;">Welcome to TestHub!</h1>
        <img style="height: 14vh; background-color: white; border-radius: 0.7rem;" src="cid:image1" alt="TestHub logo">
        <p style="text-align: left; font-size: 1.2rem; line-height: 1.5;">Dear <span style="font-weight: 600;">{{username}}</span>,
        <br> We're thrilled to have you as a new member of our community. Thank you for choosing to use our services. <br>
        With your successful registration, you can now completely use our full collection of <span style="font-weight: 600;">Python</span> and <span style="font-weight: 600;">Multiple Choice Tests!</span> If you have any further questions, feel free to reply to this email, we will be happy to comply! <span style="font-weight: 600;">Happy Coding and Learning!</span> <br>
        Best regards,
        <span style="font-weight: 600;">TestHub</span> team.</p>
    </div>
</body>
</html>