:root {
    --dark-green: #08785e; 
    --darker-green: #076c55;
    --midnight-blue: #101720;
    --border-radius: 0.3rem;
    --box-shadow: 1px 1px 7px 0.5px rgba(0,0,0,0.75);
    --text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.54);
}


html {
    background: url('../images/wallpaperflare.com_wallpaper.jpg') no-repeat center center / cover;
}


main {
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main section {
    color: whitesmoke;
    width: 80%;
    border-radius: var(--border-radius);
    background-size: cover;
    margin-bottom: 3vh;
    padding: 3rem 6rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}

main section:nth-child(n) {
    background-image: url('https://images.hdqwalls.com/wallpapers/lake-minimal-red-4k-zd.jpg');
}

main section:nth-child(2n) {
    background-image: url('https://papers.co/wallpaper/papers.co-so43-blur-gradation-dark-blue-28-wallpaper.jpg');
}

main section h5 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4vh;
    font-family: "Anta", sans-serif;
}

main section label {
    font-size: 1.5rem;
}


.options input {
    display: none;
}


.options label {
    display: inline-block;
    position: relative;
    margin-right: 1.2rem;
    margin-bottom: 2rem;
    padding-left: 1.9rem;
    cursor: pointer;
}


.options label:before {
    content: "";
    display: block;
    position: absolute;
    width: 21px; 
    height: 21px;
    left: 0;
    top: 40%;
    margin-top: -10px; 
    border: 2px solid #fff;
    border-radius: 10px; 
}

.options label:after {
    content: "";
    display: block;
    position: absolute;
    width: 0; 
    height: 0; 
    top: 50%;
    left: 10.5px; 
    margin-top: 0;
    background: #fff;
    border-radius: 5px; 
    transition: .2s ease-in-out;
}

.options input:checked + label:after {
    height: 12px; 
    width: 12px; 
    margin-top: -5.7px; 
    left: 6.1px; 
}


form div {
    display: flex;
    justify-content: space-around;
}


h1 {
    font-size: 3.5rem;
    margin-bottom: 5vh;
    font-family: "Anta", sans-serif;
    color: whitesmoke;
    text-shadow: var(--text-shadow);
}

button {
    margin-top: 1rem;
    padding: 1.5rem 3.6rem;
    font-size: 2rem;
    background-color: #006faf;
    border-radius: var(--border-radius);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    border: none;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.54);
    box-shadow: 1px 1px 5px 0.5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 300ms ease-in-out;
}


button:hover {
    background-color: #008ee1;
}