body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.result-section {
    margin: 0 auto;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 5vh;
    background-image: url('../../../../assets/images/coding-avfu043y2kv52wha.jpg');
    animation-name: bgPositionAnim;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    margin-bottom: 5vh;
}


@keyframes bgPositionAnim {
    0% {
        background-position: center calc(100%);
    }
    100% {
        background-position: center;
    }
}


.result-section h5 {
    color: whitesmoke;
    font-family: 'Anta', sans-serif;
    font-size: 7rem;
    text-shadow: var(--text-shadow);
}


.questions-section {
    margin: 0 auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    contain: content;
    width:  65vw;
    padding:  3rem;
    background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Monochrome-Type-Simple-Background-Image.jpg');
    background-size:cover;
    background-position: center center;
    display: flex;
    gap:  1.5rem;
    flex-wrap: wrap;
}


.correct-answer-button, .wrong-answer-button {
    padding:  1.3rem  2rem;
    font-size:  1.8rem;
    border: 2px solid black;
    border-radius: 0.8rem;
    box-shadow: var(--box-shadow);
    font-family: "Anta", sans-serif;
    color: whitesmoke;
    text-shadow: var(--text-shadow);
    cursor: pointer;
    min-width:  100px;
    min-height: 90px;
    transition: 300ms ease-in-out;
}


.correct-answer-button {
    background-color:#008000;
}


.correct-answer-button:hover {
    background-color: #228B22;
    transform: translateY(-0.4rem);
}


.wrong-answer-button {
    background-color: var(--maroon-red);
}


.wrong-answer-button:hover {
    background-color: #660000;
    transform: translateY(-0.4rem);
}

h4 {
    margin-bottom: 2vh;
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: var(--text-shadow);
    font-family: 'Anta';
    text-align: center;
}