@media screen and (min-width: 2500px) {
    main section {
        padding: 6rem 8rem;
        width: 50%;        
     }

     .tasks-container {
        width: 60%;
    }
}


@media (max-height: 1000px) and (max-width: 1900px) {
    button {
        margin-top: 1rem;
        padding: 1.25rem 2rem;
        font-size: 1.8rem;
        margin-bottom: -10vh;
    }

    h1 {
        margin-bottom: 6vh;
    }
}