@import url('../../../../assets/styles/choose-title-course-topic.css');

form {
    margin: 0 auto;
    background-image: url('https://images4.alphacoders.com/718/718136.jpg');
    border-radius: var(--border-radius);
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vh;
    box-shadow: var(--box-shadow);
}
 

button {
    margin: 3rem 0;
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
    background-color: var(--dark-green);
    border-radius: var(--border-radius);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    border: none;
    text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.54);
    box-shadow: 1px 1px 5px 0.5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 300ms ease-in-out;
}


button:hover {
    animation: rotate-scale-up 1s ease-in-out forwards;
    background-color: var(--darker-green);
}


#task-title {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-bottom: 0vh;
    font-family: 'Anta';
}


#task-title-label {
    margin: 2vh 0;
    margin-top: 4vh;
    font-size: 2rem;
    color: whitesmoke;
    font-family: "Anta", sans-serif; 
    text-shadow: var(--text-shadow);
}


#choose-course-choose-topic {
    margin-bottom: -3vh;
}


#choose-course-choose-topic label {
    font-size: 2rem;
}


#choose-course-choose-topic select {
    font-size: 1.5rem;
}


#unit-tests-title {
    color: whitesmoke;
    text-shadow: var(--text-shadow);
    font-family: 'Anta', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.CodeMirror {
    width: 60%;
    height: auto;
    font-size: 1.2rem;
    font-family: 'Anta';
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.error {
    border: 3.5px solid var(--maroon-red);
}


.error-message {
    text-shadow: var(--text-shadow);
    font-size: 1.5rem;
    margin-top: -13.5vh;
    text-align: center;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    color: var(--maroon-red);
}


input[type=file] {
    font-family: 'Anta';
    display: flex;
    font-size: 1.5rem;
    color: #f5f5f5;
    text-shadow: var(--text-shadow);
    padding: 1.5rem;
    border-radius: var(--border-radius);
}


input[type=file]::file-selector-button {
    align-self: center;
    width: 40%;
    padding: 1rem 1rem;
    color: #f5f5f5;
    text-shadow: var(--text-shadow);
    font-size: 1.5rem;
    font-family: "Courier Prime", monospace;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 600ms ease-in-out;
    text-align: center;
    background-color: var(--dark-green);
    border: none;
    margin-right: 1rem;
    box-shadow: var(--box-shadow);
}


input[type=file]::file-selector-button:hover {
    background: var(--darker-green);
}


.file-upload-label {
    text-align: center;
    font-size: 2rem;
    text-shadow: 5px 0px 7px rgba(0,0,0,0.68);
    font-family: 'Anta', cursive;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 1rem;
    color: whitesmoke;
}


.file-upload {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 600ms ease-in-out;
}


.file-upload:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


 .file-upload-div button:hover {
    background-color: #009578;
    transform: translateY(-0.2rem);
}


.file-upload-div {
    margin-top: -3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 2vh;
}

#choose-course-choose-topic {
    margin-top: -5vh;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#choose-course-choose-topic .wrapper {
    margin-top: -12.5vh;
}


textarea {
    border-radius: var(--border-radius);
    padding-left: 0.5rem;
    width: 25%;
    height: 35px;
    margin-bottom: 20px;
    font-family: 'Anta';
    font-size: 1.1rem;
    line-height: 35px;
    resize: none;
  }
  
  

  pre {
    font-family: 'Anta';
    min-height: 20vh;
    border-radius: var(--border-radius);
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    width: 60%;
    max-height: 20vh;
    overflow: auto;
}

#unit-tests-wrapper {
    display: flex;
    gap: 1.5vw;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#unit-tests-err {
    margin-top: 2vh;
    margin-bottom: -3vh;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: #f5f5f5;
    text-shadow: none;
}

.title-wrapper {
    margin-top: 2vh;
    margin-bottom: 3vh;
}