@media screen and (min-width: 2500px) { 
    #hide-show-password {
        margin-top: -4.1vh;
        margin-left: 16.4vw;
    }
}


@media (max-height: 1000px) and (max-width: 1900px) {
    #hide-show-password {
        margin-top: -5.9vh;
        margin-bottom: 4vh;
        margin-left: 18.2vw;
        font-size: 1.2rem;
        cursor: pointer;
    }
}