@media screen and (min-width: 2500px) {
    .fa-rotate-right {
        left: 38.5%;
    }
    

    textarea {
        padding-left: 0.8rem;
        width: 25%;
        height: 50px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        line-height: 35px;
    }
}

@media (max-height: 1080px) and (max-width: 1920px) {
    main, table {
        width: 80vw;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    .inner-container h5 {
        font-size: 2.7rem;
    }

    .inner-container-wrapper i {
        font-size: 2rem;
    }

    #unit-tests-title {
        font-size: 2rem;
    }

    button {
        margin-top: 2.25rem;
        margin-bottom: 3.5vh;
        padding: 1rem 2.4rem;
        font-size: 1.6rem;
     }

    table th,
    table td {
        border-radius: var(--border-radius);
        font-size: 1.25rem;
    }
}