:root {
    --dark-green: #08785e; 
    --darker-green: #076c55;
    --midnight-blue: #101720;
    --maroon-red: #800000;
    --border-radius: 0.3rem;
    --box-shadow: 1px 1px 7px 0.5px rgba(0,0,0,0.75);
    --text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.54);
}


html {
    background: url('../images/wallpaperflare.com_wallpaper.jpg') no-repeat center center / cover;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main section {
    width: 80%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://c.wallhere.com/photos/53/4a/AI_art_minimalism_mountains_vector_illustration_nature_simple_background-2215826.jpg!d');
    background-size: cover;
    background-position: center center;
    padding: 7rem 1rem;
    margin-bottom: 5vh;
    box-shadow: var(--box-shadow);
}


main section:nth-child(2n) {
    background-image: url('https://c.wallhere.com/photos/2e/b7/Firewatch_video_games_mountains_nature_landscape_artwork_minimalism_fire_lookout_tower-1366269.jpg!d');
}


main section input {
    border-radius: var(--border-radius);
    font-family: "Anta", sans-serif;
}


#question-title-input {
    width: 45.5%;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 3vh;
}


.question-options-inputs {
    margin: 1.25rem 2.5rem;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
}


#question-correct-answer {
    margin-top: 3vh;
    width: 22.5%;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-bottom: 2vh;
}


#add-new-question {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px dashed whitesmoke;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 81%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 600ms ease-in-out;
}


#add-new-question h1 {
    font-size: 3rem;
    color: whitesmoke;
    font-family: "Anta", sans-serif;  
    transition: 600ms ease-in-out; 
}


#add-new-question:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-1rem);
}


#add-new-question:hover h1 {
    color: black;
    text-decoration: underline;
}


.error {
    border: 5px solid var(--maroon-red);
}

.error-message {
    margin-top: 0;
    text-align: center;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--maroon-red);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 2px solid black;
    background-color: whitesmoke;
}