<main>

    <section id="right-side">
      <h1>Welcome Back!</h1>
      <form method="POST">
        <input type="text" name="email" placeholder="Email" />
        <!-- <p class="error-message">Email must be at least 6 chars!</p> -->
        <input type="password" name="password" placeholder="Password" />
        <!-- <p class="error-message">Password must be at least 6 chars!</p> -->

        <button id="register-submit-button">Login</button>
      </form>
      <h5>Don't have an account? <a routerLink="/register">Register here</a></h5>
    </section>

    <section id="left-side"></section>

</main>