<form
  [formGroup]="multipleQuestionsExamForm"
  (ngSubmit)="onMultipleQuestionsSubmit()"
>
  <section id="choose-course-choose-topic">
    <div class="title-wrapper">
      <label id="task-title-label" for="task-title">Exam Title:</label>
      <input
        type="text"
        id="task-title"
        formControlName="examTitle"
        placeholder="Python Advanced Exam"
      />
    </div>
    <p *ngIf="multipleQuestionsExamForm.get('examTitle')?.touched && multipleQuestionsExamForm.get('examTitle')?.errors?.['minlength']" class="error-message">
      Title must be at least 3 chars!
    </p>
    <div class="wrapper">
      <div>
        <label for="course">Course:</label>

        <select name="course" formControlName="course" id="course-select" (change)="onCourseSelect()">
          <option value="Select a Course" disabled selected>Select a Course</option>
          <option *ngFor="let course of courses" [value]="course">
            {{ course }}
          </option>
        </select>
      </div>

      <div>
        <label for="topic">Topic:</label>
        <select name="topic" formControlName="topic" id="course-select">
          <option value="Select a Topic" disabled selected>Select a Topic</option>
          <option *ngFor="let topic of topics" [value]="topic">{{topic}}</option>
        </select>
      </div>
    </div>
  </section>

  <div formArrayName="examQuestions">
    <main
      *ngFor="let question of examQuestions.controls; let i = index"
      [formGroupName]="i"
    >
      <section
        [ngClass]="{
          'even-question': i % 2 === 0,
          'odd-question': i % 2 !== 0
        }"
      >
        <i
          id="remove-question"
          (click)="removeQuestion(i)"
          class="fa-regular fa-circle-xmark"
        ></i>

        <!-- Question Title -->
        <input
          id="question-title-input"
          formControlName="title"
          type="text"
          placeholder="What is the difference between list and tuple?"
        />
        <!-- Error message Title -->
        <p *ngIf="question.get('title')?.touched && question.get('title')?.errors?.['minlength']" class="error-message">
          Title must be at least 5 chars!
        </p>


        <div>
          <!-- Option A -->
          <input
            class="question-options-inputs"
            formControlName="optionA"
            type="text"
            placeholder="A"
          />
         <!-- Option B -->
          <input
            class="question-options-inputs"
            formControlName="optionB"
            type="text"
            placeholder="B"
          />
        </div>
         <!--Error message Option A  -->
        <p *ngIf="question.get('optionA')?.touched && question.get('optionA')?.errors?.['minlength']" class="error-message">
          Option A must be at least 1 char!
        </p>
         <!--Error message Option B  -->
         <p *ngIf="question.get('optionB')?.touched && question.get('optionB')?.errors?.['minlength']" class="error-message">
          Option B must be at least 1 char!
        </p>


        <div>
          <!-- Option C -->
          <input
            class="question-options-inputs"
            formControlName="optionC"
            type="text"
            placeholder="C"
          />
          <!-- Option D -->
          <input
            class="question-options-inputs"
            formControlName="optionD"
            type="text"
            placeholder="D"
          />
        </div>
        <!--Error message Option C  -->
        <p *ngIf="question.get('optionC')?.touched && question.get('optionC')?.errors?.['minlength']" class="error-message">
          Option C must be at least 1 char!
        </p>  
        <!--Error message Option A  -->
        <p *ngIf="question.get('optionD')?.touched && question.get('optionD')?.errors?.['minlength']" class="error-message">
          Option D must be at least 1 char!
        </p>

        <!-- Correct Answer -->
        <input
          id="question-correct-answer"
          formControlName="correctAnswer"
          type="number"
          placeholder="Correct Answer"
        />
        <!-- Error message Correct Answer -->
        <p *ngIf="question.get('correctAnswer')?.touched && question.get('correctAnswer')?.errors?.['min']" class="error-message">
          Correct Answer must be at least 1!
        </p>
        <p *ngIf="question.get('correctAnswer')?.touched && question.get('correctAnswer')?.errors?.['max']" class="error-message">
          Correct Answer must be lower than 4!
        </p>
      </section>
    </main>
  </div>

  <section (click)="addQuestion()" id="add-new-question">
    <p id="total-questions">Total Questions: {{examQuestions.value.length}}</p>
    <h1>Add a Question</h1>
  </section>

  <div class="button-wrapper">
    <button type="submit" id="create-multipleChoice-button">Create Exam</button>
  </div>
</form>
