<main *ngIf="pythonTest">
  <h1>{{ pythonTest.topicName }}</h1>

  <div class="tasks-container">
    <ng-container *ngFor="let task of pythonTest.topicTasks">

      <div *ngIf="task.type === 'multiple-choice'" routerLink="/contests/{{courseName}}/{{topicName}}/multiple-choice/{{task.encodedName}}" class="task">
        {{ task.name }}
      </div>
      <div *ngIf="task.type === 'python'" routerLink="/contests/{{courseName}}/{{topicName}}/python/{{task.encodedName}}" class="task">
        {{ task.name }}
      </div>
    </ng-container>
  </div>
  <form [formGroup]="pythonTestSubmitForm" (ngSubmit)="onPythonTaskSubmit()" class="inner-container">
    <div class="inner-container-wrapper">
      <h5>{{ pythonTest.title }}</h5>
      <a target="_blank" href="{{ pythonTest.description }}">
        <i class="fa-solid fa-file"></i>
      </a>
    </div>
    <div id="unit-tests-wrapper">
      <h5 id="unit-tests-title">Code:</h5>
      <textarea formControlName="code"
        (input)="updateCode($any($event.target).value)"
        placeholder="Enter Python code here..."
      ></textarea>
    </div>
    <pre><code [innerHTML]="highlightedCode" class="language-python"></code></pre>
    <div class="current-task"></div>
    <button type="submit">Submit</button>
  </form>
</main>

<table>
  <tr>
    <th>Points</th>
    <th>Submission Date</th>
  </tr>
  <tr>
    <td>
      <i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-xmark"></i> 80/100
    </td>
    <td>00:28:50 08.10.2023</td>
  </tr>
  <tr>
    <td>
      <i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-xmark"></i> 80/100
    </td>
    <td>00:28:50 08.10.2023</td>
  </tr>
  <tr>
    <td>
      <i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-xmark"></i> 80/100
    </td>
    <td>00:28:50 08.10.2023</td>
  </tr>
  <tr>
    <td>
      <i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-xmark"></i> 80/100
    </td>
    <td>00:28:50 08.10.2023</td>
  </tr>
  <tr>
    <td>
      <i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-check"></i><i class="fa-solid fa-check"></i
      ><i class="fa-solid fa-xmark"></i> 80/100
    </td>
    <td>00:28:50 08.10.2023</td>
  </tr>
</table> 


<!-- 
def is_even(number):
    return number % 2 == 0
  -->