@media screen and (min-width: 2500px) {
    main section {
        width: 71.5%;
    }

    #choose-course-choose-topic {
        width: 72.5%;
    }

    #remove-question {
        font-size: 2.25rem;
        bottom: 7vh;
        left: 49%;
        transition: 400ms ease-in-out;
    }

    #add-new-question {
        width: 72.5%;
    }
}


@media (max-height: 1000px) and (max-width: 1900px) {
    #task-title {
        font-family: 'Anta';
        margin-top: 2vh;
        font-size: 1.6rem;
    }

    #task-title-label {
        margin: 0;
        margin-top: 2vh;
        font-size: 2.5rem;
    }

    #choose-course-choose-topic label{
        font-size: 2.25rem;    
        margin-right: 1rem;
    }

    #choose-course-choose-topic select {
        cursor: pointer;
        font-size: 1.8rem;
        border-radius: var(--border-radius);
        font-family: "Anta", sans-serif;
        padding: 0.4rem 0.8rem;
    }

    #remove-question {
        bottom: 13vh;
        left: 49.2%;
        transition: 400ms ease-in-out;
    }

    #question-title-input {
        width: 47%;
        font-size: 1.7rem;
        padding: 0.7rem 1.4rem;
    }

    .question-options-inputs {
        font-size: 1.3rem;
        padding: 0.5rem 0.8rem;
    }

    #question-correct-answer {
        width: 17.5%;
        font-size: 1.3rem;
        padding: 0.9rem 1.85rem;
    }

    .error-message {
        margin-top: -2.4vh;
        margin-bottom: 1.2vh;
        font-size: 1.3rem;
        color: var(--maroon-red);
        padding: 0.5rem;
        border-radius: var(--border-radius);
        border: 2px solid black;
        background-color: whitesmoke;
    }

    .error {
        border: 3.5px solid var(--maroon-red);
    }
}