::ng-deep html {
    background: url('../../../../assets/images/Computer-screen-code-glitch-animation-gif-background-free.gif') no-repeat center center / cover !important;
}


h1 {
    padding-top: 25vh;
    padding-bottom: 20vh;
    font-family: 'Anta';
    font-size: 6rem;
    color: whitesmoke;
    text-shadow: var(--text-shadow);
    text-align: center;
    line-height: 1.35;
}