<main>
    <aside>
      <div class="course-section">
        <li onclick="hideShowTopics(event)">
          Python Basics <i class="fa-solid fa-arrow-down"></i>
        </li>
        <div class="hidden">
          <div class="topic-section">
            <li onclick="hideShowTasks(event)">First Steps in Coding <i class="fa-solid fa-arrow-down"></i></li>
            <div class="hidden-tasks">
              <li>Hello TestHub</li>
              <li>Nums 1...10</li>
              <li>Square Area</li>
              <li>Inches to Centimeters</li>
              <li>Greeting by Name</li>
            </div>
          </div>

          <li>Conditional Statements <i class="fa-solid fa-arrow-down"></i></li>
          <li>For Loop <i class="fa-solid fa-arrow-down"></i></li>
          <li>While Loop <i class="fa-solid fa-arrow-down"></i></li>
          <li>Nested Loops <i class="fa-solid fa-arrow-down"></i></li>
          <li>Exam Preparation <i class="fa-solid fa-arrow-down"></i></li>
        </div>
      </div>
      <li>Python Fundamentals <i class="fa-solid fa-arrow-down"></i></li>
      <li>Python Advanced <i class="fa-solid fa-arrow-down"></i></li>
      <li>Python OOP <i class="fa-solid fa-arrow-down"></i></li>
      <li>Postgre SQL <i class="fa-solid fa-arrow-down"></i></li>
      <li>Python ORM <i class="fa-solid fa-arrow-down"></i></li>
      <li>Django Basics <i class="fa-solid fa-arrow-down"></i></li>
      <li>Django Fundamentals <i class="fa-solid fa-arrow-down"></i></li>
      <li>JS Basics <i class="fa-solid fa-arrow-down"></i></li>
      <li>JS Fundamentals <i class="fa-solid fa-arrow-down"></i></li>
    </aside>

    <section>
      <h1>TestHub</h1>
    </section>
  </main>

  <h5 id="welcoming-message">
    Welcome to TestHub, a place where students can test their knowledge and
    improve their practical and theoretical skills in the sphere of
    Programming with Python!
  </h5>