
@media screen and (min-width: 2500px) {
    main section {
        max-height: 70vh;
        min-height: 70vh; 
    }

    #greeting-message {
        width: 45%;
        padding: 1rem;
    }

    h2 {
        font-size: 6.5rem;
    }

    p {
        line-height: 1.75;
    }
}


@media (max-height: 1080px) and (max-width: 1920px)  {
    main {
        margin-top: 4vh;
    }

    #greeting-message {
        font-size: 2.25rem;
    }

    #welcoming-message {
        font-size: 1.5rem;
        line-height: 1.5;
    } 

    p {
        line-height: 1.5;
        font-size: 1.4rem;
    }
}